@import "bootstrap.css";

$darkest: #000114;
$darker: #999999;
$lighter: #cccccc;
$lightest: #eeeeee;

* {
	font-family: Lato, Helvetica, Arial, sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;

	background: $lightest;
}

div {
	box-sizing: border-box;
}

.main-app {
	display: flex;
	flex-direction: column;
	// background: $darkest;
	width: 100%;
	height: 100%;
	position: absolute;
}

.top-bar {
	align-self: stretch;
	display: flex;
	background: $lightest;
	padding: 0.5em;
	border-bottom: 1px solid $lighter;
	align-items: center;
}

.app-logo {
	flex-grow: 1;
	font-weight: 900;
	opacity: 0.3;
}

.top-bar-drop {
	margin-left: 0.5em;
}

.top-bar-drop > button {
	display: flex;
	align-items: center;
}
.top-bar-drop > button::after {
	margin-left: 1em;
}

.main-panel {
	flex-grow: 1;
	display: flex;
}

.empty-main-panel {
	flex-grow: 1;
	align-self: stretch;
	justify-content: center;
	align-items: center;
	display: flex;
}



.app-panel {
	color: $darkest;
	align-self: stretch;
	flex-grow: 1;
	position: relative;
}
.app-panel-scroller {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.5em;
}

.content-expander {
	flex-grow: 1;
	align-items: stretch;
	display: flex;
	flex-direction: column;
}

.button-save-changes {
	align-self: flex-end;
}

h2 {
	font-size: 1em;
	margin-left: 0.25em;
	margin-top: 0.5em;
}

h6 {
	margin-left: 0.25em;
	font-size: 0.8em;
	font-weight: 300;
}

.h-spacer {
	height: 1em;
}


.tag-form-input {
	background: white;
	// height: 2em;
	padding: 0.25rem;
	min-height: 2.5rem;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.new-tag-button {
		margin: 0.25rem;
}


@import "synopsis.scss";
@import "nav-panel.scss";
@import "generic-panel.scss";
@import "components.scss";
@import "modal.scss";
